.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #212529; /* Cor do texto geral */
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.student-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 30px;
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.student-form .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

mat-form-field {
  flex: 1 1 calc(50% - 16px); /* Para organizar 2 campos por linha */
  min-width: 200px;
}

mat-form-field .mat-form-field-wrapper {
  border: 1px solid #ced4da; /* Cor da borda do input */
  border-radius: 4px;
}

.student-form .btn.save {
  align-self: flex-end;
  margin-top: 16px;
  background-color: #2196f3; /* Cor do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.student-form .btn.save:hover {
  background-color: #0c7cd5; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 8px 12px;
}

th {
  background: #f0f0f0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:hover {
  background: #f1f1f1;
}

tr:hover {
  background: #f1f1f1;
}

.btn.edit {
  margin-right: 8px; 
}

.btn.delete {
  background-color: #dc3545;
  color: white;
}

/* Responsividade para dispositivos menores */
@media screen and (max-width: 480px) {

  .title {
    padding-left: 100px;
  }

  .student-form {
    width: 130%;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    padding: 10px;
  }

  .student-form .form-group {
    display: flex;
    flex-direction: column;
  }

  .student-form mat-form-field {
    width: 100%; 
  }

  .btn.save {
    width: 100%; 
  }

  .mat-table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .mat-header-row, .mat-row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .mat-header-cell, .mat-cell {
    display: block;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  .mat-header-cell {
    font-weight: bold;
  }

  .mat-column-Ações {
    text-align: center;
  }

  /* Ajuste para botões */
  .btn {
    margin: 5px 0;
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}



